{% extends "base.html" %}
{% block title %}Cart{% endblock title %}
{% load static %}
{% block content %}

        <!-- header section end -->


        <!-- breadcrumb__start -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1>Cart</h1>
                            <ul>
                                <li>
                                    <a href="{% url "home" %}">Home</a>
                                </li>
                                <li class="color__blue">
                                   Cart
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->



        <!-- cart__section__start -->
            <div class="cartarea sp_bottom_100 sp_top_100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <form action="#">
                                <div class="cartarea__table__content table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in cart  %}
                                            <tr>
    <td class="cartarea__product__thumbnail">
        <a href="{% url "product" p=i.slug %}">
            <img src="{{ i.image_url }}" alt="cart">
        </a>
    </td>
    <td class="cartarea__product__name"><a href="{% url "product" p=i.slug %}">{{ i.p_name }}</a></td>
    <td class="cartarea__product__price__cart"><span class="amount">Rs.{{ i.price }}</span></td>
    <td class="cartarea__product__quantity">
        <form action="{% url 'update_cart_quantity' i.cart_item_id %}" method="POST">
    {% csrf_token %}
    <div class="featurearea__quantity">
        <div class="qty-container">
            <button type="submit" name="action" value="decrease" class="qty-btn-minus btn-qty"><i class="fa fa-minus"></i></button>
            <input type="text" name="quantity" value="{{ i.quantity_in_cart }}" class="input-qty">
            <button type="submit" name="action" value="increase" class="qty-btn-plus btn-qty"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>

    </td>
    <td class="cartarea__product__subtotal">Rs.{{ i.subtotal_in_cart }}</td>
    <td class="cartarea__product__remove">
        <a href="{% url 'remove_from_cart1' i.p_id %}" title="Remove">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Trash</title><path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
        </a>
    </td>
</tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="cartarea__shiping__update__wrapper">
                            <div class="cartarea__shiping__update">
                            <a class="default__button" href="{% url "home" %}">Continue Shopping</a>
                            </div>
                            <div class="cartarea__clear">
                            <a href="{% url "cart_checkout" %}" class="default__button">Checkout</a>
                            </div>
                        </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        <!-- cart__section__end-->
{% endblock content %}



 <!-- footer__section__end -->
        






                       
                            
                            
                            
                            
                            
                            
                            
                            
                                
                            
                                  




    </main>





    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js "></script>
    <script src="js/vendor/jquery-3.6.0.min.js "></script>
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/isotope.pkgd.min.js "></script>
    <script src="js/one-page-nav-min.js "></script>
    <script src="js/slick.min.js "></script>
    <script src="js/jquery.meanmenu.min.js "></script>
    <script src="js/ajax-form.js "></script>
    <script src="js/wow.min.js "></script>
    <script src="js/jquery.scrollUp.min.js "></script>
    <script src="js/imagesloaded.pkgd.min.js "></script>
    <script src="js/jquery.magnific-popup.min.js "></script>
    <script src="js/waypoints.min.js "></script>
    <script src="js/jquery.counterup.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/main.js "></script>


</body>

</html>
