{% extends "base.html" %}
{% load static %}
{% block meta %}
 <meta name="description" content="Login to your Angels Fashion account to track orders, manage wishlist, and shop premium cosmetics and fashion online.">
    <meta name="keywords" content="login Angels Fashion, customer account, beauty products account, fashion account, Anna Nagar login">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Zap Waves">
  

    
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="About Angels Fashion | Beauty & Fashion Store in Anna Nagar, Chennai">
  <meta property="og:description" content="Discover Angels Fashion's journey – from a single nail polish to a premier beauty & fashion destination in Anna Nagar, Chennai.">
  <meta property="og:image" content="https://www.angels-glamnglow.in/static/img/favicon_io/android-chrome-512x512.png">
  <meta property="og:url" content="https://www.angels-glamnglow.in/login">
  <meta property="og:type" content="website">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="About Angels Fashion | Beauty & Fashion Store in Anna Nagar, Chennai">
  <meta name="twitter:description" content="Learn about Angels Fashion – trusted since 1982 for cosmetics, fashion, and bridal jewelry in Anna Nagar, Chennai.">
  <meta name="twitter:image" content="https://www.angels-glamnglow.in/static/img/favicon_io/android-chrome-512x512.png">{% endblock meta %}
{% block title %}Login | Angels Fashion Customer Account{% endblock title %}
{% load socialaccount %}
{% block content %}

      <!-- breadcrumb__start -->
      <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__title">
                        <h1>Login</h1>
                        <ul>
                            <li>
                                <a href="{% url "home" %}">Home</a>
                            </li>
                            <li class="color__blue">
                                Login
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- breadcrumb__end -->


 <!-- login__section__start -->
    <div class="loginarea  sp_bottom_80 sp_top_80">
     <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-md-2 loginarea__col">
                <ul class="nav  tab__button__wrap text-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link active" data-bs-toggle="tab" data-bs-target="#projects__one" type="button">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="single__tab__link" data-bs-toggle="tab" data-bs-target="#projects__two" type="button">Sign up</button>
                    </li>



                </ul>
            </div>


            <div class="tab-content tab__content__wrapper" id="myTabContent">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                               <h6 style="color:red; text-align: center;" >{{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="tab-pane fade active show" id="projects__one" role="tabpanel" aria-labelledby="projects__one">
                    <div class="col-xl-8 offset-md-2 loginarea__col">
                        <div class="loginarea__wraper">
                            <div class="loginarea__heading">
                                <h5 class="login__title">Login</h5>
                                
                            </div>



                            <form method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="loginarea__form">
                                    <label class="form__label">Username or email</label>
                                    <input class="common__login__input" type="text" name="username" placeholder="Your username or email" required>
                                </div>
                                <div class="loginarea__form">
                                    <label class="form__label">Password</label>
                                    <input class="common__login__input" type="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="loginarea__form d-flex justify-content-between flex-wrap gap-2">
                                    
                                    <div class="text-end login__form__link">
                                        <a href="{% url 'forgot_password' %}">Forgot your password?</a>
                                    </div>
                                </div>
                                <div class="loginarea__button text-center">
                                    <button type="submit" class="default__button">Log In</button>
                                </div>
                            </form>


                            <div class="loginarea__social__option">
                                <ul class="loginarea__social__btn">
                                    <li>
                                       <form method="post" action="{% provider_login_url 'google' %}">
      {% csrf_token %}
      <button type="submit" class="default__button">Continue with Google</button>
    </form>
                                    
                                    </li>
                                </ul>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="projects__two" role="tabpanel" aria-labelledby="projects__two">
                    <div class="col-xl-8 offset-md-2 loginarea__col">
                        <div class="loginarea__wraper">
                            <div class="loginarea__heading">
                                <h5 class="login__title">Sign Up</h5>
                                <p class="login__description">Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Log In</a></p>
                            </div>



                            <form method="POST" action="{% url 'signup' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">First Name</label>
                                                    <input class="common__login__input" type="text" name="first_name" placeholder="First Name" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">Last Name</label>
                                                    <input class="common__login__input" type="text" name="last_name" placeholder="Last Name" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">Username</label>
                                                    <input class="common__login__input" type="text" name="username" placeholder="Username" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">Email</label>
                                                    <input class="common__login__input" type="email" name="email" placeholder="Your Email" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">Password</label>
                                                    <input class="common__login__input" type="password" name="password1" placeholder="Password" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="loginarea__form">
                                                    <label class="form__label">Re-enter Password</label>
                                                    <input class="common__login__input" type="password" name="password2" placeholder="Re-enter Password" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="loginarea__form d-flex justify-content-between flex-wrap gap-2">
                                            <div class="form__check">
                                                <input type="checkbox" id="regi__privacy" name="terms" required>
                                                <label for="regi__privacy">Accept the Terms and Privacy Policy</label>
                                            </div>
                                        </div>

                                        <div class="login__button text-center">
                                            <button type="submit" class="default__button">Sign Up</button>
                                        </div>
                                    </form>
                          <div class="loginarea__social__option">
                                <ul class="loginarea__social__btn">
                                    <li>
                                       <form method="post" action="{% provider_login_url 'google' %}">
      {% csrf_token %}
      <button type="submit" class="default__button">Continue with Google</button>
    </form>
                                    
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>



            </div>





        </div>

   


    </div>
    </div>

{% endblock content %}
