{% extends "base.html" %}
{% load static %}
{% block title %}shop{% endblock title %}
        <!-- breadcrumb__start -->
         {% block content %}
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1>Shop</h1>
                            <ul>
                                <li>
                                    <a href="{% url "home" %}">Home</a>
                                </li>
                                <li class="color__blue">
                                    Shop
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->

    <!-- shop__section__start-->
        <div class="shop sp_top_80">
            <div class="container">
                <div class="row grid__responsive">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">


                        <button type="button" class="default__button sidebar-collapse-btn" data-aos="fade-up" data-aos-duration="1800" >
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 32 32" width="24"><g id="Layer_2" data-name="Layer 2"><path d="m28.552 6.184h-2.671a4.556 4.556 0 0 0 -8.659 0h-13.774a1.449 1.449 0 0 0 0 2.9h13.774a4.556 4.556 0 0 0 8.659 0h2.671a1.449 1.449 0 0 0 0-2.9zm-7 3.138a1.69 1.69 0 1 1 1.689-1.69 1.692 1.692 0 0 1 -1.689 1.69z"></path><path d="m28.552 14.552h-13.774a4.556 4.556 0 0 0 -8.659 0h-2.671a1.448 1.448 0 0 0 0 2.9h2.671a4.556 4.556 0 0 0 8.659 0h13.774a1.448 1.448 0 0 0 0-2.9zm-18.1 3.138a1.69 1.69 0 1 1 1.686-1.69 1.692 1.692 0 0 1 -1.69 1.69z"></path><path d="m28.552 22.919h-2.671a4.556 4.556 0 0 0 -8.659 0h-13.774a1.449 1.449 0 0 0 0 2.9h13.774a4.556 4.556 0 0 0 8.659 0h2.671a1.449 1.449 0 0 0 0-2.9zm-7 3.138a1.69 1.69 0 1 1 1.689-1.689 1.692 1.692 0 0 1 -1.689 1.689z"></path></g></svg>
                            FILTER
                        </button>



                        <div class="sidebar sidebar-collapse-hide">

                                

                            <div class="sidebar__widget widget-collapse-show">
                                <div class="sidebar__title">
                                    <h4>Brands</h4>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <div class="sidebar__menu">
                                    <ul>
                                        {% if brand_list %}
                                        {% for i in  brand_list%}
                                        <li>
                                            <div class="sidebar__box">
                                            <input id="in_stock1" type="checkbox">
                                            <label for="in_stock1">{{i.brand_name}}</label>
                                            <a href="#"><span class="shopsidebar__number">({{i.total}})</span></a>
                                        </div>
                                        
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>


                            <div class="sidebar__widget widget-collapse-show">
                                <div class="sidebar__title">
                                    <h4>Size</h4>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <div class="sidebar__menu">
                                    <ul>
                                        {% if size1 %}
                                        {% for i in size1 %}
                                        <li>
                                            <div class="sidebar__box">
                                            <input id="out__of__stock9" type="checkbox">
                                            <label for="out__of__stock9"> {{i.size}}</label>
<a href="#"><span class="shopsidebar__number">({{i.total}})
</span></a>

                                        </div>
                                        
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                        <div class="shop__right__wraper">
                            <div class="shop__tab">
                                <ul class="nav " id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="shop__tap__link active" data-bs-toggle="tab" data-bs-target="#projects__one" type="button">
                                            <i class="fas fa-th-large"></i>
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="shop__tap__link" data-bs-toggle="tab" data-bs-target="#projects__two" type="button">
                                            <i class="fas fa-list"></i>
                                        </button>
                                    </li>
                                
                                    
        
                                </ul>
                            </div>
                           
                            <div class="shop__number text-right">
                                <span>
                                    Showing 1 - 15 of  68 result 
                                </span>
                                </div>
                        </div>


                        <div class="tab-content " id="myTabContent">
                            <div class="tab-pane fade active show" id="projects__one" role="tabpanel" aria-labelledby="projects__one">
                                <div class="row grid__responsive">
                                   
    <form action="{% url 'search' %}" method="get">
 
    <div class="shop__selecte">
        <select class="nice-select" name="SortBy" id="SortBy" onchange="this.form.submit()">
            <option value="manual" {% if sort_by == 'manual' %}selected{% endif %}>Featured</option>
            <option value="best-selling" {% if sort_by == 'best-selling' %}selected{% endif %}>Best Selling</option>
            <option value="title-ascending" {% if sort_by == 'title-ascending' %}selected{% endif %}>Alphabetically, A-Z</option>
            <option value="title-descending" {% if sort_by == 'title-descending' %}selected{% endif %}>Alphabetically, Z-A</option>
            <option value="price-ascending" {% if sort_by == 'price-ascending' %}selected{% endif %}>Price, low to high</option>
            <option value="price-descending" {% if sort_by == 'price-descending' %}selected{% endif %}>Price, high to low</option>
            <option value="created-descending" {% if sort_by == 'created-descending' %}selected{% endif %}>Date, new to old</option>
            <option value="created-ascending" {% if sort_by == 'created-ascending' %}selected{% endif %}>Date, old to new</option>
        </select>
    </div>
</form>
{% for i in results  %}
<p>{{i}}</p>{% endfor %}
{% for i in query  %}
<p>{{i}}</p>{% endfor %}
<!--{% for i in products_per_category  %}
<p>{{i}}</p>{% endfor %}-->
{% for i in same_main_category_diff_products  %}
<p>{{size1}}</p>{% endfor %}
{% if results %}
<p>{{p}}</p>
            {% for i in results  %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                                        <div class="grid__wraper">
                                            <div class="grid__wraper__img">
                                                <div class="grid__wraper__img__inner">
                                                    <a href="{% url "product" p=i.slug %}">
                                                        <img class="primary__image" src="{{i.image_url}}" alt="Primary Image">
                                                        <img class="secondary__image" src="{{i.image_url}}" alt="Secondary Image">
                                                    </a>
                                                </div>
                                                <div class="grid__wraper__icon">                                
                                                    <ul>
                                                        
            
                                                        <li>
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart" data-bs-original-title="Add To Cart">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </a>                                             
                                                        </li>
            
                                                        <li>
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Wishlist" data-bs-original-title="Add To Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                       
            
                                                    </ul>   
                                                </div>
            
            
                                            </div>
                                            <div class="grid__wraper__info">
                                                <h3 class="grid__wraper__tittle">
                                                    <a href="{% url "product" p=i.slug %}" tabindex="0">{{i.small_desc}}</a>
                                                </h3>
                                                <div class="grid__wraper__price">
                                                    <span>Rs.{{i.price}}</span> 
                                                </div>
                                                
                                            </div>
            
                                        
                                            
            
            
            
                                        </div>
                                    </div>
        {% endfor %}
        {% endif %}
            
            
                                  
            
                                </div>
                            </div>
    
                           
            
                                        
                                    
                                
    <!-- shop__section__start-->

        <!-- categori__section__start -->
        <div class="category sp_bottom_70 sp_top_80">
            <div class="container">
                <div class="row grid__responsive row__custom__class category__slider__active slider__default__arrow">
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/baby/baby__1.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Featured</a></h5>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__31.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Earrings</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__32.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Baby (T Shirt)</a></h5>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 column__custom__class">
        
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__33.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Gold</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__37.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Kids</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__35.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Men</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__36.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Necklaces</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/baby/baby__1.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Featured </a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__1.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1">Kids</a></h5>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-12 column__custom__class">
                        <div class="category__single">
                            <div class="category__img">
                                <img src="img/grid/grid__10.png" alt="">
                            </div>
                            <div class="category__text">
                                <h5><a href="#" tabindex="-1"> Product</a></h5>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
        <!-- categori__section__end -->

{% endblock content %}
<!-- footer__section__start -->
<div class="footer ">
    <div class="footer__inner sp_top_80">
    <div class="container sp_bottom_60">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="footer__widget">
                    <h4 class="footer__title">About Us.</h4>
                    <div class="footer__content">
                        <p>Angel's Fashion is your premier destination for beauty and cosmetics, dedicated to helping you express your unique style. We offer a carefully curated selection of high-quality makeup, skincare, and fragrance products from leading international and niche brands.</p>
                    </div>
                    <div class="footer__social__icon">
                        <ul>
                            <li><a target="_blank" title="Facebook-f" href="https://www.facebook.com/shopify"><i class="fab fa-facebook-f"></i></a></li>     
                            
                            
                            <li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i class="fab fa-twitter"></i></a></li>       
                               
                            
                            
                            <li><a target="_blank" title="Youtube" href="https://www.youtube.com/user/shopify"><i class="fab fa-youtube"></i></a></li>       
                            
                            
                            <li><a target="_blank" title="Instagram" href="https://www.instagram.com/shopify/"><i class="fab fa-instagram"></i></a></li>       
                            
                            
                            
                            
                            </ul>
                    </div>
                    <div class="footer__bottom">

                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Quick Link</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="/account">My Account</a></li>
                        <li><a href="/cart">My Cart</a></li>
                        <li><a href="/pages/wishlist">Wishlist</a></li>
                       
                        <li><a href="/pages/contact">Need Help?</a></li>
                    </ul>
                  </div>
                </div>
            </div>


            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Information</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="/account">About us</a></li>
                        <li><a href="/cart">Contact</a></li>
                        <li><a href="/pages/wishlist">Blogs</a></li>
                       
                        <li><a href="/pages/contact">Size Chart</a></li>
                    </ul>
                  </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">Policies</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="/account">Privacy Policy</a></li>
                        <li><a href="/cart">Refund Policy</a></li>
                        <li><a href="/pages/wishlist">Terms of Service</a></li>
                       
                        <li><a href="/pages/contact">Shipping Policy</a></li>
                    </ul>
                  </div>
                </div>
            </div>



        </div>
    </div>
    </div>

    <div class="copyright">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright__text">
                <p>© 2025 <strong>Angels Fashion</strong>. All rights reserved.</p>
           
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 <!-- footer__section__end -->





</main>


    <!-- JS here -->
        <script src="{% static "js/vendor/modernizr-3.5.0.min.js" %} "></script>
    <script src="{% static "js/vendor/jquery-3.6.0.min.js"%} "></script>
    <script src="{% static "js/popper.min.js "%} "></script>
    <script src="{% static "js/bootstrap.min.js "%} "></script>
    <script src="{% static "js/isotope.pkgd.min.js "%} "></script>
    <script src="{% static "js/one-page-nav-min.js "%} "></script>
    <script src="{% static "js/slick.min.js "%} "></script>
    <script src="{% static "js/jquery.meanmenu.min.js "%} "></script>
    <script src="{% static "js/ajax-form.js "%} "></script>
    <script src="{% static "js/wow.min.js "%} "></script>
    <script src="{% static "js/jquery.scrollUp.min.js "%} "></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js "%} "></script>
    <script src="{% static "js/jquery.magnific-popup.min.js "%} "></script>
    <script src="{% static "js/waypoints.min.js "%} "></script>
    <script src="{% static "js/jquery.counterup.min.js "%} "></script>
    <script src="{% static "js/fontawesome.min.js "%} "></script>
    <script src="{% static "js/plugins.js "%} "></script>
    <script src="{% static "js/main.js "%} "></script>

</body>

</html>